@font-face {
    font-family: "AvenirNextLTPro-Demi";
    src: url("./fonts/AvenirNextLTPro-Demi.wof");
}

@font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("./fonts/AvenirNextLTPro-Regular.wof");
}
body {
    margin: 0;
}

.wrapper {
    width: 70%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./images/header-bg.jpg");
    background-size: cover;
    background-position: center center;
}

.header img {
    width: 200px;
    padding: 40px 0;
}

.header h1 {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 50px;
    font-weight: 100;
    padding-bottom: 800px;
    text-align: center;
}

.main {
    background-color: black;
    padding: 20px 0 160px 0;
}

.main div h1 {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 40px;
    font-weight: 100;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.postCard {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.postCard img {
    width: 50%;
    flex-basis: 50%;
    border-radius: 5px;
}

.postCard .context {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
}

.postCard .context h1 {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 25px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.postCard .context p, .postCard .context a {
    color: white;
    text-decoration: none;
    font-family: "AvenirNextLTPro-Regular";
}

.postCard .context a {
    color: #ff5454;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .button button {
    font-size: 20px;
    font-family: "AvenirNextLTPro-Regular";
    padding: 7px 40px;
    margin-top: 30px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
}

.main .button button:hover {
    cursor: pointer;
}

.footer {
    background-color: #ff5454;
    font-family: "AvenirNextLTPro-Regular";
    color: white;
    padding: 50px 0 0;
}

.footer .footer-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 100px;
}

.footer-info img {
    filter: brightness(0) invert(1);
}

.footer-info ul li {
    list-style: none;
    line-height: 30px;
}

.footer hr {
    border: 0.5px solid white;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}